@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");

.header {
  height: 75px;
  background-color: #4cb8c4;
}

.headerContent {
  height: 75px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.headerContent nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  font-family: "Fruktur", cursive;
}
